* {
    font-family: outfit;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: var(--clr-gray-light);
}

.heading {
    font-weight: 700;
    color: var(--clr-blue-dark);
}